{% extends 'base.html' %}

{% block title %}Books{% endblock %}
{% block pageheader %}Books{% endblock %}

{% block content %}
<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-blue-950">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-50">Title</th>
        <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-50">Author</th>
        <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-50">Genre</th>
        <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-50">Series</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-blue-800/50">
      {% for book in all_books %}
          <tr>
            <td class="px-6 py-4 text-sm text-gray-100 font-semibold"><a href="{{url_for('show_book', book_id=book.id) }}">{{ book['title'] }}</a></td>
            <td class="px-6 py-4 text-sm text-gray-100">{{ book['author'] }}</td>
            <td class="px-6 py-4 text-sm text-gray-100">{{ book['genre'] }}</td>
            <td class="px-6 py-4 text-sm text-gray-100">{{ book['series'] }}</td>
            <td><a href="{{ url_for('edit_book', book_id=book.id) }}" class="rounded-md bg-blue-700 px-4 py-2 text-sm font-medium text-gray-100 hover:bg-blue-500 m-4">Edit</a></td>
            <td><a href="{{ url_for('delete_book', book_id=book.id) }}" class="rounded-md bg-red-600 px-4 py-2 text-sm font-medium text-gray-100 hover:bg-red-700 m-4">Delete</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}