{% macro render_field(field, label) %}
    <label class="block text-sm font-medium text-gray-200 mb-1 mt-6">{{ label }}</label>
    <div class="mt-5">
        {{ field(class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm px-3 py-2") }}
        {% if field.errors %}
            <p class="mt-1 text-sm text-red-500">{{ field.errors[0] }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_textarea(field, label) %}
    <label class="block text-sm font-medium text-gray-200 mb-1 mt-6">{{ label }}</label>
    <div class="mt-5">
        {{ field(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-white/10 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6", rows="3") }}
        {% if field.errors %}
            <p class="mt-1 text-sm text-red-500">{{ field.errors[0] }}</p>
        {% endif %}
    </div>
{% endmacro %}

